In [1]:
print('hello nama saya jay')

hello nama saya jay

In [2]:
a = [
  1,2,3,4,5,6,7,8,9,10,
  "hallo", "nama", "saya", "jay",
]

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hallo', 'nama', 'saya', 'jay']

In [10]:
a[-9:12]

[6, 7, 8, 9, 10, 'hallo', 'nama']

In [11]:
a.append(1)

In [12]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hallo', 'nama', 'saya', 'jay', 1]

In [13]:
a.__len__

In [14]:
len(a)

15

### slicing

#### inclusive:exclusive:steps

In [17]:
a = [0,1,2,3,4,5,6,7,8,9,10]

In [19]:
a[0: 5]

[0, 1, 2, 3, 4]

In [22]:
a[3:-2]

[3, 4, 5, 6, 7, 8]

In [23]:
a[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
a[3::2]

[3, 5, 7, 9]

In [25]:
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
a[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
a[3::-1]

[3, 2, 1, 0]

spliting, join

In [33]:
a = ["cat", "dog", "bird", "fish"]

In [34]:
" ".join(a)

'cat dog bird fish'

In [35]:
a = "video ini dari jcopml"

In [37]:
a.split(" ")

['video', 'ini', 'dari', 'jcopml']

### dictionary
#### a = {key:value}

In [38]:
a = {
  "nama": "jay",
  "umur": "20",
  "alamat": "jakarta",
}

In [39]:
a["nama"]

'jay'

In [40]:
a["jomblo"] = True

In [41]:
a["jomblo"]

True

In [42]:
a.keys()

dict_keys(['nama', 'umur', 'alamat', 'jomblo'])

In [43]:
a.values()

dict_values(['jay', '20', 'jakarta', True])

### iterasi

In [44]:
num = [1,2,3,4,5,6,7,8,9,10]

for n in num:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [45]:
for score in (80, 90, 100):
  print(score)

80
90
100

In [46]:
for score in (80, 90, 100):
  print(score**2)

6400
8100
10000

In [48]:
for i in range (1,11, 2):
  print(i)

1
3
5
7
9

In [49]:
for key in a.keys():
  print(key)

nama
umur
alamat
jomblo

In [50]:
a = []
for i in range (1,11):
  a.append(i**2)

In [51]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
a = [i**2 for i in range (1,11)]

In [53]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
a = {i: i**2 for i in range (1,11)}

bacanya dari belakang

In [56]:
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [59]:
for i in range (1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [62]:
for i in range (1,21):
  if i <18:
    print(i)
  else:
    print(18)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18
18

In [65]:
a = [i**2 for i in range (1,11)]

In [66]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]